{% raw %}
- description: Application is synced and healthy. Triggered once per commit.
  oncePer: app.status.sync.revision
  send: 
    - github-status
  with:
    repo: "{{ app.metadata.annotations['notifications.argoproj.io/repo'] }}"
    revision: "{{ app.status.sync.revision }}"
    token: "{{ .context.argocd.token }}"
  when: app.status.operationState != nil and app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy'
{% endraw %}
