{% raw %}
- description: Application has degraded
  send: 
    - github-status
  with:
    repo: "{{ app.spec.source.repoURL }}"
    revision: "{{ app.status.operationState.operation.sync.revision }}"
    token: "{{ .context.argocd.token }}"
    state: "error"
    target_url: "{{ .context.argocdUrl }}/applications/{{ app.metadata.name }}"
    description: "ArgoCD health degraded"
  when: app.status.health.status == 'Degraded'
{% endraw %}
