{% raw %}
- description: Application syncing has failed
  send: 
    - github-status
  with:
    repo: "{{ app.spec.source.repoURL }}"
    revision: "{{ app.status.operationState.operation.sync.revision }}"
    token: "{{ .context.argocd.token }}"
    state: "error"
    target_url: "{{ .context.argocdUrl }}/applications/{{ app.metadata.name }}"
    description: "ArgoCD sync failed"
  when: app.status.operationState != nil and app.status.operationState.phase in ['Error', 'Failed']
{% endraw %}
