{% raw %}
- description: Application status is 'Unknown' (duplicate for compatibility)
  send: 
    - github-status
  with:
    repo: "{{ app.metadata.annotations['notifications.argoproj.io/repo'] }}"
    revision: "{{ app.status.sync.revision }}"
    token: "{{ .context.argocd.token }}"
  when: app.status.sync.status == 'Unknown'
{% endraw %}
