CREATE USER IF NOT EXISTS {{ item.cassandra.username }} WITH PASSWORD '{{ item.cassandra.password }}';
GRANT ALL PERMISSIONS ON KEYSPACE {{ item.name | lower | regex_replace('[^a-z0-9_]', '_') }} TO {{ item.cassandra.username }};
