{% raw %}
trigger.on-sync-succeeded: |
  - when: app.status.sync.status == 'Synced' and app.status.operationState.phase == 'Succeeded'
    send:
    - app-sync-status

trigger.on-sync-failed: |
  - when: app.status.sync.status == 'OutOfSync' and app.status.operationState.phase == 'Failed'
    send:
    - app-sync-status

trigger.on-health-degraded: |
  - when: app.status.health.status == 'Degraded'
    send:
    - app-health-status

trigger.on-sync-running: |
  - when: app.status.operationState.phase == 'Running'
    send:
    - app-sync-status

trigger.on-unknown-sync-status: |
  - when: app.status.sync.status == 'Unknown'
    send:
    - app-manifest-generation-error
{% endraw %}