{% if item.tracked_deployment_images is defined and item.tracked_deployment_images | length > 0 %}
argocd-image-updater.argoproj.io/image-list: "{% for image_name in item.tracked_deployment_images %}{{ image_name }}={{ harbor_hostname }}/{{ item.name }}/{{ image_name }}{% if not loop.last %},{% endif %}{% endfor %}"
{% for image_name in item.tracked_deployment_images %}
argocd-image-updater.argoproj.io/{{ image_name }}.update-strategy: semver
argocd-image-updater.argoproj.io/{{ image_name }}.allow-tags: "regexp:^v.*"
{% endfor %}
{% else %}
argocd-image-updater.argoproj.io/image-list: "{{ item.name }}={{ harbor_hostname }}/{{ item.name }}/{{ item.name }}"
argocd-image-updater.argoproj.io/{{ item.name }}.update-strategy: semver
argocd-image-updater.argoproj.io/{{ item.name }}.allow-tags: "regexp:^v.*"
{% endif %}
notifications.argoproj.io/subscribe.on-deployed.github-status: null
notifications.argoproj.io/subscribe.on-health-degraded.github-status: ""
notifications.argoproj.io/subscribe.on-sync-failed.github-status: ""
notifications.argoproj.io/subscribe.on-sync-running.github-status: ""
notifications.argoproj.io/subscribe.on-sync-succeeded.github-status: ""
notifications.argoproj.io/subscribe.on-unknown-sync-status.github-status: ""
notifications.argoproj.io/repo: "{{ item.github_repo_http_url | regex_replace('https://github.com/', '') | regex_replace('.git', '') }}"