apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    deployment:
      replicas: {{ traefik_access_logs_replicas }}
    nodeSelector:
      kubernetes.io/hostname: {{ traefik_access_logs_node }}
    service:
      spec:
        externalTrafficPolicy: {{ traefik_access_logs_external_traffic_policy }}
    logs:
      access:
        enabled: true
        format: json
        fields:
          general:
            defaultmode: keep
          headers:
            defaultmode: drop
            names:
              X-Request-Id: keep
