- name: Add Prometheus Helm repo
  when: prometheus_enabled
  ansible.builtin.shell: |
    helm repo add prometheus-community https://prometheus-community.github.io/helm-charts || true
    helm repo update
  changed_when: false
