---
- name: Setup monitoring namespace
  ansible.builtin.include_tasks: setup_namespace.yml

- name: Add monitoring Helm repos
  ansible.builtin.include_tasks: add_helm_repos.yml
 
- name: Install Loki (for logs)
  ansible.builtin.include_tasks: install_loki.yml

- name: Install Prometheus
  ansible.builtin.include_tasks: install_prometheus.yml

- name: Install Pushgateway
  ansible.builtin.include_tasks: install_pushgateway.yml
  when: prometheus_enabled and pushgateway_enabled

- name: Label monitoring PVCs to skip backups
  ansible.builtin.include_tasks: label_monitoring_pvcs.yml
  when: label_monitoring_pvcs_skip_backup | default(true)
