---
- name: Setup monitoring namespace
  ansible.builtin.include_tasks: setup_namespace.yml

- name: Add monitoring Helm repos
  ansible.builtin.include_tasks: add_helm_repos.yml
 
- name: Install Loki (for logs)
  ansible.builtin.include_tasks: install_loki.yml

- name: Install Prometheus
  ansible.builtin.include_tasks: install_prometheus.yml
