apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: {{ item.name }}-runner
  namespace: {{ item.name }}
spec:
  replicas: {{ item.github_actions.num_runners | default(github_actions_runner_replicas_default) }}
  template:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/rollout-strategy: "restart"
    spec:
      serviceAccountName: github-actions-runner-{{ item.name }}
      repository: {{ item.github_repo_http_url | regex_replace('^https://github.com/', '') | regex_replace('.git$', '') }}
      dockerEnabled: false
      labels:
        - self-hosted
        - {{ item.name }}
      containers:
        - name: runner
          image: summerwind/actions-runner:{{ github_actions_runner_image_tag }}
          volumeMounts:
            - name: docker-config
              mountPath: /home/runner/.docker
            - name: docker-auth
              mountPath: /home/runner/.docker/config.json
              subPath: .dockerconfigjson
              readOnly: true
      volumes:
        - name: docker-config
          emptyDir: {}
        - name: docker-auth
          secret:
            secretName: {{ github_actions_dockerconfig_secret_name }}
