apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: {{ item.name }}-runner
  namespace: {{ item.name }}
spec:
  replicas: {{ item.github_actions.num_runners | default(github_actions_runner_replicas_default) }}
  template:
    spec:
      serviceAccountName: github-actions-runner-{{ item.name }}
      repository: {{ item.github_repo_http_url | regex_replace('^https://github.com/', '') | regex_replace('.git$', '') }}
      labels:
        - self-hosted
        - {{ item.name }}
      containers:
        - name: docker
          image: docker:dind
          securityContext:
            privileged: true
          volumeMounts:
            - name: harbor-ca
              mountPath: /etc/docker/certs.d/harbor.local/ca.crt
              subPath: ca.crt
            - name: harbor-ca
              mountPath: /etc/buildkit/certs/harbor.local/ca.crt
              subPath: ca.crt
      volumes:
        - name: harbor-ca
          secret:
            secretName: harbor-ca