message: |
  {
    "state": "{{ .state }}",
    "target_url": "{{ .target_url }}",
    "description": "ArgoCD sync {{ .description }}",
    "context": "argo-cd"
  }
webhook:
  github-status:
    url: https://api.github.com/repos/{{ .repo }}/statuses/{{ .revision }}
    method: POST
    headers:
      - name: Authorization
        value: token {{ .token }}
