apiVersion: v1
kind: Service
metadata:
  name: buildkitd
  namespace: {{ buildkit_namespace }}
spec:
  type: ClusterIP
  selector:
    app: buildkitd
  ports:
    - name: buildkitd
      port: {{ buildkit_service_port }}
      targetPort: {{ buildkit_service_port }}
