POSTGRES_USER: "{{ item.postgres.username }}"
POSTGRES_PASSWORD: "{{ item.postgres.password }}"
POSTGRES_DATABASE: "{{ item.name }}"
POSTGRES_HOST: "{{ postgres_release_name }}-postgresql.{{ postgres_namespace }}.svc.cluster.local"
POSTGRES_PORT: "5432"
EXTERNAL_DOMAIN: "{{ item.domain }}"
{% if item.smtp.enabled | default(false) %}
SMTP_DOMAIN: "{{ item.smtp.domain }}"
SMTP_USER: "{{ item.smtp.user }}"
SMTP_PASSWORD: "{{ item.smtp.password }}"
{% endif %}
