POSTGRES_USER: "{{ item.postgres.username }}"
POSTGRES_PASSWORD: "{{ item.postgres.password }}"
POSTGRES_DATABASE: "{{ item.name }}"
POSTGRES_HOST: "{{ postgres_release_name }}-postgresql.{{ postgres_namespace }}.svc.cluster.local"
POSTGRES_PORT: "5432"
EXTERNAL_DOMAIN: "{{ item.domain }}"
{% if (item.mailu.enabled | default(false)) and (install_mailu_for_smtp | default(false)) %}
SMTP_DOMAIN: "mailu-front.mailu.svc.cluster.local"
SMTP_PORT: "25"
EXTERNAL_SMTP_DOMAIN: "mailu.{{ item.domain }}"
SMTP_USER: "{{ item.mailu.user }}"
SMTP_PASSWORD: "{{ item.mailu.password }}"
# SMTP_AUTH_TYPE can be: PLAIN, SSL, STARTTLS
SMTP_AUTH_TYPE: "PLAIN"
{% endif %}
{% if item.cassandra.enabled | default(false) and (install_cassandra | default(false)) %}
CASSANDRA_USER: "{{ item.cassandra.username }}"
CASSANDRA_PASSWORD: "{{ item.cassandra.password }}"
CASSANDRA_KEYSPACE: "{{ item.name | lower | regex_replace('[^a-z0-9_]', '_') }}"
CASSANDRA_HOST: "cassandra.{{ cassandra_namespace }}.svc.cluster.local"
CASSANDRA_PORT: "9042"
{% endif %}
{% if item.elasticsearch.enabled | default(false) and (install_elasticsearch | default(false)) %}
ELASTICSEARCH_USER: "{{ item.elasticsearch.username }}"
ELASTICSEARCH_PASSWORD: "{{ item.elasticsearch.password }}"
ELASTICSEARCH_INDEX: "{{ item.name | lower | regex_replace('[^a-z0-9_]', '_') }}"
ELASTICSEARCH_HOST: "elasticsearch-master.{{ elasticsearch_namespace }}.svc"
ELASTICSEARCH_PORT: "9200"
ELASTICSEARCH_SECURE: "true"
ELASTICSEARCH_CA_CRT_BASE64: "{{ elasticsearch_ca_secret.resources[0].data['ca.crt'] }}"
{% endif %}
{% if item.additional_secrets is defined %}
{% for key, value in item.additional_secrets.items() %}
{{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
