apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mailu-certificates
  namespace: mailu
spec:
  secretName: mailu-certificates
  issuerRef:
    name: {{ mailu_cert_issuer_name }}
    kind: {{ mailu_cert_issuer_kind }}
  dnsNames:
{% for project in self_saas_projects | selectattr('mail.enabled', 'defined') | selectattr('mail.enabled') | list %}
    - {{ project.domain }}
    - mail.{{ project.domain }}
{% endfor %}
