apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: mailu-certificates
  namespace: mailu
spec:
  secretName: mailu-certificates
  issuerRef:
    name: {{ cert_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
{% for project in self_saas_projects | selectattr('mailu.enabled', 'defined') | selectattr('mailu.enabled') | list %}
    - {{ project.domain }}
    - mailu.{{ project.domain }}
{% endfor %}
