---
- name: Setup Harbor namespace
  ansible.builtin.include_tasks: setup_namespace.yml

- name: Setup Harbor certificates
  ansible.builtin.include_tasks: setup_certificates.yml
  when: harbor_use_tls | default(true)

- name: Install Harbor
  ansible.builtin.include_tasks: install.yml

- name: Configure Harbor Ingress and DNS
  ansible.builtin.include_tasks: configure_ingress_dns.yml

- name: Create Harbor projects
  ansible.builtin.include_tasks: create_projects.yml

- name: Create Harbor retention policy and cleanup for each project
  ansible.builtin.include_tasks: create_retention.yml
  loop: "{{ self_saas_projects }}"
  loop_control:
    loop_var: project
